{% extends 'LayoutTemplate.twig' %}
{% block content %}
    <table class="ml-10">
        <thead>
        <tr>
            <th class="border-separate border border-green-800">Stock</th>
            <th class="border-separate border border-green-800">Stock amount</th>
            <th class="border-separate border border-green-800">Price(Bought)</th>
            <th class="border-separate border border-green-800">Money spent</th>
            <th class="border-separate border border-green-800">Price(current)</th>
            <th class="border-separate border border-green-800">Sell price(total)</th>
            <th class="border-separate border border-green-800">Profit</th>
            <th class="border-separate border border-green-800">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <th class=" border-separate border border-green-800">
                    {{ stock.stockName }}</th>
                <th class=" border-separate border border-green-800">
                    {{ stock.stockAmount }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stockPriceBought/100)|format_currency('USD',{min_fraction_digit:3}) }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stockPriceBought/100 * stock.stockAmount)|format_currency('USD',{min_fraction_digit:3}) }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stockPriceNow/100) |format_currency('USD',{min_fraction_digit:3}) }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stockAmount * stock.stockPriceNow / 100)|format_currency('USD',{min_fraction_digit:3}) }}
                </th>
                {% if stock.stockPriceNow * stock.stockAmount - stock.stockPriceBought * stock.stockAmount < 0 %}
                    <th class=" border-separate text-red-600 border border-green-800">
                        {{ ((stock.stockPriceNow * stock.stockAmount - stock.stockPriceBought * stock.stockAmount) / 100)
                        |format_currency('USD',{min_fraction_digit:3}) }}
                    </th>
                {% else %}
                    <th class=" border-separate text-green-800 border border-green-800">
                        {{ ((stock.stockPriceNow * stock.stockAmount - stock.stockPriceBought * stock.stockAmount) / 100)
                        |format_currency('USD',{min_fraction_digit:3}) }}
                    </th>
                {% endif %}
                <th class=" border-separate text-green-800 border border-green-800">
                    {% if stock.active == true %}
                        <h1 class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                            active</h1>
                    {% else %}
                        <h1 class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-green-800">
                            sold</h1>
                    {% endif %}
                </th>
                <th class=" border-separate text-green-800 border border-green-800">
                    {% if stock.active == true %}
                        <form method="post" action="/sold">
                            <input type="hidden" name="stock"
                                   value="{{ stock.stockName }}">
                            <input type="hidden" name="id"
                                   value="{{ stock.id }}">
                            <input type="hidden" name="stockPrice"
                                   value="{{ (stock.stockAmount * stock.stockPriceNow) }}">
                            <button type="submit" class="bg-blue-200 text-black font-bold py-1 px-2 rounded border ">
                                Sell
                            </button>
                        </form>
                    {% else %}
                        <h1 class="ml-5">Price
                            sold: {{ (stock.stockSold/100) |format_currency('USD',{min_fraction_digit:3}) }}</h1>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}