{% extends 'LayoutTemplate.twig' %}
{% block content %}
    <table class="ml-10 w-11/12 divide-y divide-gray-200">
        <thead class="bg-green-200">
        <tr>
            <th class="border-separate border border-green-800">Stock</th>
            <th class="border-separate border border-green-800">Date Bought</th>
            <th class="border-separate border border-green-800">Stock amount</th>
            <th class="border-separate border border-green-800">Price(Bought)</th>
            <th class="border-separate border border-green-800">Money spent</th>
            <th class="border-separate border border-green-800">Price(current)</th>
            <th class="border-separate border border-green-800">Sell price(total)</th>
            <th class="border-separate border border-green-800">Profit</th>
            <th class="border-separate border border-green-800">Status</th>
            <th class="border-separate border border-green-800">Date Sold</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <th class=" border-separate border border-green-800">
                    {{ stock.stock_name }}</th>
                <th class=" border-separate border border-green-800">
                    {{ stock.timestamp_buy }}</th>
                <th class=" border-separate border border-green-800">
                    {{ stock.stock_amount }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stock_price_bought/100)|format_currency('USD',{min_fraction_digit:3}) }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stock_amount * stock.stock_price_bought / 100)|format_currency('USD',{fraction_digit: 3}) }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stock_price_now/100) |format_currency('USD',{min_fraction_digit:3}) }}</th>
                <th class=" border-separate border border-green-800">
                    {{ (stock.stock_amount * stock.stock_price_now / 100)|format_currency('USD',{min_fraction_digit:3}) }}
                </th>
                {% if stock.stock_price_now * stock.stock_amount - stock.stock_price_bought * stock.stock_amount < 0 %}
                    <th class=" border-separate text-red-600 border border-green-800">
                        ↓ {{ ((stock.stock_price_now * stock.stock_amount - stock.stock_price_bought * stock.stock_amount) / 100)
                        |format_currency('USD',{min_fraction_digit:3}) }}
                    </th>
                {% else %}
                    <th class=" border-separate text-green-800 border border-green-800">
                        ↑ {{ ((stock.stock_price_now * stock.stock_amount - stock.stock_price_bought * stock.stock_amount) / 100)
                        |format_currency('USD',{min_fraction_digit:3}) }}
                    </th>
                {% endif %}
                <th class=" border-separate text-green-800 border border-green-800">
                    {% if stock.active == true %}
                        <h1 class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                            active</h1>
                    {% else %}
                        <h1 class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-green-800">
                            sold</h1>
                    {% endif %}
                </th>
                <th class=" border-separate border border-green-800">
                    {{ stock.timestamp_sold }}</th>
                <th class=" border-separate text-green-800 border border-green-800">
                    {% if stock.active == true %}
                        <form method="post" action="/sold">
                            <input type="hidden" name="stock"
                                   value="{{ stock.stock_name }}">
                            <input type="hidden" name="id"
                                   value="{{ stock.id }}">
                            <input type="hidden" name="stockPrice"
                                   value="{{ (stock.stock_amount * stock.stock_price_now) }}">
                            <button type="submit" class="bg-blue-200 text-black font-bold py-1 px-2 rounded border ">
                                Sell
                            </button>
                        </form>
                    {% else %}
                        <h1 class="ml-5">Price
                            sold: {{ (stock.stock_sold/100) |format_currency('USD',{min_fraction_digit:3}) }}</h1>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}